
$woodsmoke: #101012;
$baltic-sea: #19181D;
$shark: #212124;
$tuna: #38383d;
$ship-gray: #424146;
$jumbo: #7c7b80;
$dusty-gray: #999999;
$hit-gray: #AEB5B7;
$mischka: #e7e6ea;
$whisper: #f3f2f7;
$white: #ffffff;

$gamboge: #E7990A;
$red-stage: #CC7009;

$bg-page: $baltic-sea;
$bg-page-grad: $jumbo;

$bg-main: $white;
$text: $ship-gray;
$link: $gamboge;
$link-hover: $red-stage;

$border-menu: $tuna;
$menu-link: $dusty-gray;
$menu-link-hover: $white;

$bg-side: $whisper;
$border-side: $mischka;
$side-link: $dusty-gray;
$side-link-hover: $baltic-sea;

$border-footer: $shark;
$bg-footer: $woodsmoke;
$text-footer: $hit-gray;
