
#commerce-checkout-form-checkout,
#commerce-checkout-form-review,
#commerce-checkout-form-complete {
  max-width: none;

  input[type="submit"]:not([class*="cancel"]) {
    max-width: none;
    width: auto;
  }
  .button-operator {
    padding: 0 5px;
  }
}

#commerce-checkout-form-complete {
  .checkout_completion_message {
    background: $madang;
    border: 1px solid $zuccini;
    color: $zuccini;
    text-align: center;
  }
}

.checkout-review {
  margin-bottom: 1.5em;

  tbody {
    border-top: none;
  }

  .pane-title {
    background: transparent;

    td {
      font-size: 1.2em;
      padding: 1em 0 .5em;
      text-align: center;
    }
  }
}
