
.node-event {
  .field-name-field-image {
    float: right;
    margin: 0 0 15px 15px;
  }
  .field-name-field-date {
    font-weight: bold;
  }

  &.node-teaser {
    .field-name-field-image {
      margin-top: -45px;
    }
  }
}

.field-name-field-tickets {
  @include clearfix;
  clear: both;

  & > .field-items {
    & > .node-ticket {
      box-sizing: border-box;
      float: left;
      vertical-align: top;
      width: 25%;

      &:hover {
        background: #efefef;
      }
    }
    & > .node-ticket:nth-child(4n+1),
    & > .node-shop-separator {
      clear: left;
    }
  }
}
