
.node-shop-separator {
  padding-top: 2em;

  h2 {
    border-bottom: 1px solid lightgrey;
    margin: 0;

    a {
      @include link-colors($text, $text, $text, $text, $text);
      cursor: text;
      text-decoration: none;
    }
  }
}
