
%wrapped {
  margin: auto;
  max-width: 960px;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

body {
  background: $bg-page;
  @include filter-gradient($bg-page-grad, $bg-page, horizontal); // IE6-9 fallback on horizontal gradient
  @include background-image(radial-gradient(center 130px, ellipse farthest-side, $bg-page-grad 0px, $bg-page 600px));
  overflow-y: auto;
}

.l-header {}

.l-main {
  @extend %wrapped;
}

.l-footer {
  @extend %wrapped;
}
